<div class="row pt-2 ">
    <div class="col-12 d-flex align-items-center">
        <button type="button" class="btn btn-dark me-3" (click)="openPopUpSerie({}, true)">Agregar una Serie completa</button>
        <button type="button" class="btn btn-primary me-3" (click)="openPopUpSeasons(false)">Agregar una Temporada</button>
        <button type="button" class="btn btn-primary me-3" (click)="openPopUpChapters(false)">Agregar un capitulo</button>
        <button class="btn btn-success d-flex align-items-center me-3" type="button" (click)="exportJSON()"><mat-icon aria-hidden="false" >data_object</mat-icon> Exportar JSON </button>
        <mat-form-field appearance="outline" style="width: 300px;">
          <mat-label class="" >Buscar Serie por Nombre/Actor</mat-label>
          <input  matInput class="" [type]="'text'" (input)="inputSearch$.next($event)" placeholder="" >
          <mat-icon class="" matSuffix matTooltip="Buscar Serie por Nombre/Actor" >search</mat-icon>
        </mat-form-field>
    </div>

    <div class="col-12 pt-3">
        <div class="mat-elevation-z8" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
    
           
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef><strong>Titulo</strong>  </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <ng-container matColumnDef="year">
                  <th mat-header-cell *matHeaderCellDef><strong>Año</strong>   </th>
                  <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                </ng-container>

                <ng-container matColumnDef="director">
                  <th mat-header-cell *matHeaderCellDef><strong>Director</strong>   </th>
                  <td mat-cell *matCellDef="let element"> {{element.director}} </td>
                </ng-container>
              

                <ng-container matColumnDef="score_average">
                  <th mat-header-cell *matHeaderCellDef><strong>Calificación</strong>   </th>
                  <td mat-cell *matCellDef="let element"> {{element.score_average}} </td>
                </ng-container>

                <ng-container matColumnDef="seasons">
                  <th mat-header-cell *matHeaderCellDef><strong>Temporadas</strong>   </th>
                  <td mat-cell *matCellDef="let element"> {{element.seasons.length}} </td>
                </ng-container>


                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef><strong>Acciones</strong>   </th>
                  <td mat-cell *matCellDef="let element"> 

                    <button mat-mini-fab style="margin-right: 10px;" color="primary" (click)="openPopUpSerie(element)" matTooltip="Editar Serie" >
                      <mat-icon>create</mat-icon>
                    </button>

                    <button mat-mini-fab style="margin-right: 10px;background-color: #ffffff;" (click)="openPopUpUpdateSeasons(element)"  matTooltip="Temporadas">
                      <mat-icon>video_library</mat-icon>
                    </button>
                    
                    <button mat-mini-fab style="margin-right: 10px;background-color: #ffffff;" matTooltip="Capitulos" (click)="openPopUpUpdateChapters(element)">
                      <mat-icon>subscriptions</mat-icon>
                    </button>    
                
                    <button mat-mini-fab color="warn" (click)="deleteItem(element)" matTooltip="Eliminar serie completa">
                      <mat-icon>delete</mat-icon>
                    </button>

                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            <mat-paginator showFirstLastButtons [pageSize]="10" [length]="dataSource.data.length" class="">
            </mat-paginator>

        </div>
    </div>
</div>




