<div class="row">
    <div class="col-12" *ngIf="todo.length > 0">
        <div class="example-container">
            <h2>Series</h2>
          
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag>
                  <img [src]="item.poster_url" alt="" width="64" height="64" class="me-2">
                  {{item.name}}
                </div>
            </div>
          </div>
          
          <div class="example-container">
            <h2>Slider</h2>
          
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag>
                  <!-- <img src="assets/img/wit.png" alt="" width="64" height="64" class="me-2">{{item}} 
                  -->
                  <img [src]="item.poster_url" alt="" width="64" height="64" class="me-2">
                  {{item.name}}
                </div>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col">

        <button type="button" [disabled]="this.done.length == 0" class="btn btn-primary ms-3" (click)="submit()">Guardar Cambios</button>
    </div>
</div>

